/*Google Fonts Link*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;*/

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/*Navbar css*/
.NAVBAR{
	width: 100% !important;
	background: black;
	z-index: 9999;
}
.move{
	position: fixed;
	width: 100%;
	background: #412fb3;
	z-index: 9999;
}
.navbar{
	padding: 20px!important;
}
.nav-link{
	color: #ccc8c8fa !important;
}
.nav-link:hover{
	color: #ff9b51 !important;
}
#navbarNav{
	width: 100%;
}
.navbar-nav{
    margin-left: 50%;
}
.nav-item{
	padding-right: 10%;
}
.nav-link{
        font-weight: 600;
}
/*Header css*/
.Header{
	width: 100%;
	display: inline-block;
	background: url(background.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}
.Header .txt{
	height: 100vh;
	display: table-cell;
	vertical-align: middle;
}
.Header .txt h1{
	font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: white;
    margin: 20px 0px;
    font-size: 35px;
}
.txt .line{
	height: 2.3px;
	width: 70px;
	margin: 1.5% 0px;
	background-color: white;
}
.Header .lt{
	display: flex;
	justify-content: flex-end;
}
.Header p{
	font-family: 'Raleway', sans-serif;
	color: white;
	font-weight: 200;
    line-height: 1.667;
	margin: 25px 0px 40px;
}
.Header .btn{
	padding: 15px 40px;
    border: 1.4px solid white;
    background: transparent;
	color: white;
    font-weight: 400;
	transition: 0.5s;
}
.Header .btn:hover{
	background: #FF8B38;
    color: white;
    border: 1px solid #FF8B38;
    font-weight: 490;
	transition: 0.5s;
}
.Header .btn:focus{
	outline: none;
	box-shadow: none;
}
.h-form{
	padding-top: 20%;
}
.card:focus{
	outline: none;
}
.card-header:focus{
	outline: none;
}
.card-body:focus{
	outline: none;
}
.card-footer:focus{
	outline: none;
}
.h-form .card{
	border: none;
	width: 95%;
}
.h-form .card-header{
    padding: .55rem 1.25rem;
    border-bottom: none;
}
.h-form .card-header h1{
	font-family: 'Open Sans', sans-serif ;
	color: #212121;
        font-weight: bold;
	margin-bottom: 0rem;
	font-size: 27px;
}
.h-form .card-body{
	line-height: 5;
}
.h-form .card-body input{
	border: none;
	padding: 0px 7px;
	border-bottom: 1px solid #cccccc;
	line-height: 2.7;
    width: 88%;
}
.h-form .card-body input:focus{
	outline: none;
}
.h-form .card span{
	color: #ff9b51;
}
.h-form .card-footer{
	background: #ff9b51;
	border-top: none;
}
.h-form .card-footer button{
	color: white;
	font-family: 'Open Sans',sans-serif;
	background: #ff9b51;
	border: none;
}
.h-form .card-footer button:focus{
	outline: none;
}
/* P1 css*/
.P1{
	padding: 10px 0px 10px;
    background: #fff;
    border-bottom: 2px solid #b7b7b7;
}
.P1 h3{
	font-family: 'Open Sans',sans-serif;
	color: #333333;
    font-size: 22px;
    margin-bottom: 5px;
    font-weight: bold;
}
p{
	color: #797979;
	font-family: 'Open Sans',sans-serif;
}
.P1 p a{
	color: #fff;
	text-decoration: none;
}
.social-icon{
	padding: 2%;
	text-align: right;
	display: inline-block;
}
.social-icon ul li{
	list-style: none;
	display: inline-block;
	margin-right:6%;
}
.social-icon ul li a i{
	color: #cccccc;
	font-size: 40px;
	transition: 0.5s;
	z-index: 9999;
}
.social-icon ul li a i:hover{
	transform: scale(1.3);
	transition: 0.5s;
    color:#FF8B38;
}
.social-icon ul li a i:focus{
    outline: none;
}
/*P2*/
.P2{
	width: 100%;
	height: 100vh;
	background: #f5f5f5;
	display: inline-block;
	padding: 9%;
	
}
.P2 .col-md-2 ul li{
	list-style: none;
	width: 100px;
	height: 105px;
	text-transform: uppercase;
	font-size: 1 rem;
	font-weight: 400;
	background-color:  #333333;
	color: white;;
	border-bottom: 2px solid white;
	text-align: center;
	line-height: 100px;
	cursor: pointer;
}
.P2 .col-md-2 ul li:hover{
	background: #FF8B38;
}
.P2 .active{
	background: #FF8B38!important;
}
.P2 .Tab-1{
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}
.P2 .Tab-2{
	border-bottom-right-radius: 3px;
	border-bottom-left-ra dius: 3px;
}
.P2 .Tab-3{
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
.P2 .row .col-md-6 p{
	padding: 15px 0px 5px;
	font-size: 15px;
}
.P2 .item-1{
    background: #accad8;
    padding: 15px;
    border-radius: 8px;
}
.P2 .item-1 p{
	color: #0d1c6b;
}
.P2 .item-2{
    background: #acd8c2;
    padding: 15px;
    border-radius: 8px;
}
.P2 .item-2 p{
	color: #2b1650;
}
.P2 .item-3{
	background: #a5b5b4;
	border-radius: 8px;
    padding: 15px;
}
.P2 .item-3 p{
	color:#2a234e;
}
.P2 .row .col-md-4{
	display: flex;
    align-items: center;
}
.P2 .btn{
	padding: 15px 40px;
    border: 1px;
    background: #FF8B38;
	color: white;
    font-weight: 500;
	transition: 0.5s;
}
.P2 .btn:hover{
	background: #333333;
    color: white;
    font-weight: 35 0;
	transition: 0.5s;
}
.P2 .btn:focus{
	outline: none;
	box-shadow: none;
}
.P2 h3 {
    font-family: 'Open Sans',sans-serif;
    color: #212121;
    font-weight: bold;
}
/*Feature-1*/
.Feature_1{
	width: 100%;
	height: 100vh;
	background: white;
	display: inline-block;
	padding: 9% 5%;
}
.bdy{
    padding-left: 35px;
}
.Feature_1 img{
	margin: 20px 0px;
}
.Feature_1 .right {

}
.Feature_1 .dn{
    padding-right: 22px;
}
.Feature_1 .up{
	padding-top: 8px;
}
.Feature_1 h5{
	font-family: 'Open Sans',sans-serif;
	color: #212121;
    font-weight: 600!important;
}

.Feature_1 .circle{
	margin: 20px auto;
}
.Feature_1 .col-md-2{
	text-align: center;
}
.Feature_1 .col-md-2 a i{
	color: #FF8B38;
    height: 45px;
	width: 45px;
	text-align: center;
	line-height: 40px;
	background: transparent;
	border: 3px solid #FF8B38;
	border-radius: 50%;
}
.Feature_1 .row .col-md-10 .d{
    margin-bottom: 0px!important;
}
.Feature_1 .line{
	margin: 1% 0px;
	height: 2.3px;
	width: 80px;
	background-color:  #FF8B38;
}
.Feature_1 h3{
	padding-left:15px;
	font-family: 'Open Sans',sans-serif;
	color: #212121;
    font-weight: bold;
}
/*Feature-2*/
.Feature_2{
	width: 100%;
	height: 100vh;
	padding: 9% 5%;
	background: #f5f5f5;
}
.Feature_2 .line{
	height: 2.3px;
	width: 70px;
	margin: 1.5% 0px;
	background-color:  #FF8B38;
}
.Feature_2 h3{
	font-family: 'Open Sans', sans-serif;
	color: #212121;
	font-weight: bold;
}
/*Process*/
.process{
	width: 100%;
	height: 100vh;
	padding: 5%;
	text-align: center;
}
.process .line{
	height: 2.3px;
	width: 70px;
	margin: 1.5% auto;
	background-color:  #FF8B38;
}
.process .row{
    padding: 4% 0px;
}
.process .fa{
	color: #FF8B38;
	font-size: 32px;
}
.process .col-md-4{
	padding: 0px 15px;
}
.process h1{
	color: #212121;
	font-family: 'Raleway', sans-serif;
}
.process h3{
	margin: 20px;
	font-family: 'Open Sans',sans-serif;
	color: #333333;
    font-weight: bold;
}
.process .service-1 a i{
    height: 50px;
    width: 50px;
    border: 3px solid #ff8b38;
    text-align: center;
    line-height: 45px;
    font-size: 26px;
    border-radius: 100%;
    color: #ff8b38;
}
.price{
	width: 100%;
	height: auto;
	background-color:  #f5f5f5;
	padding: 3%;
	text-align: center;
}
.price .line{
	height: 2.3px;
	width: 70px;
	margin: 1.5% auto;
	background-color:  #FF8B38;
}
.price .row{
    padding: 5%;
}
.price h1{
	font-family: 'Raleway', sans-serif;
	color: #212121;
	text-transform: uppercase;
}
.price .col-md-3{
    padding: 0px 10px;
}
.price .card{
	border:none;
    padding: 0px 0px;
}
.price .card-header{
	background :#333333;
	color: white;
	border:none;
	font-family: 'Open Sans', sans-serif ;
	border-bottom: 1.5px solid white;
}
.price h3{
	font-family: 'Open Sans',sans-serif; 
	font-weight: bold;
}
.price .card-body{
    padding: 1rem;
	background :#333333;
	color: white;
	border:none;
	border-bottom: 4.5px solid #FF8B38;
}
.price .card-body h1{
	color: white;
	font-size: 80px;
	font-weight: 700;
}
.price .card-body span{
	font-size: 35px;
}
.price .dn{
	border-bottom: none;
	padding-top: 5%;
}
.price .card-body p{
	margin-bottom: 0px;
	font-family: 'Open Sans', sans-serif ;
	font-style: italic;
	font-weight: 600;
}
.price .card_d{
	background-color: #FF8B38;
}
.price .card_d p{
	color: white;
	font-family: 'Open Sans',sans-serif;
    font-weight: bold;
	text-transform: uppercase;
    margin-bottom: .45rem;
}
.price .card-footer{
    border:none;
    padding: 5px 0px 0px;
    background-color: white;
}
.price .card-footer ul{
	margin-bottom: 0rem;
}
.price .card-footer ul li{
	list-style: none;
	font-family: 'Open Sans', sans-serif ;
	padding:5px 0px 10px;
	text-transform: uppercase;
	color: #86878b;
	font-size: 1 rem;
	font-weight: 400;
	border-bottom: 1px solid #f5f5f5;
	text-align: center;

}
.customer{
	width: 100%;
	height: 100vh;
	padding-top: 30px;
}
.customer .up{
	padding: 5% 0px;
}
.customer .line{
	height: 2.3px;
	width: 70px;
	margin: 1.5% auto;
	background-color:  #FF8B38;
}
.customer .fa{
	color: #FF8B38;
	font-size: 32px;
}
.service-1 .col-md-4{
	padding-top: 3%; 
	padding-left: 8%;
}

.customer h1{
	color: #212121;
    font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
}
.customer .pr{
	padding:5%;
	}
.customer .box{
	margin: 5% auto;
}
.customer .outer{
	height: auto;
	width: 90%;
	background: #f5f5f5;
	position: relative;
    padding: 8px;
	border: 3px solid #f5f5f5;
	border-radius: 3%;
	font-style: italic;
}
.customer h4{
	margin-bottom: 0rem;
	font-family: 'Open Sans',sans-serif;
	font-weight: bold;
}
.customer .inr{
	height: 20px;
	width: 20px;
	position: absolute;
	background-color: #f5f5f5;
    bottom: 4%;
    left: 15%;
    transform: rotate(45deg);
}
.dsgn{
	width: 100%;
	background: url(img-5.png);
	background-position: center;
	background-repeat: no-repeat;
    background-size: cover;
}
.dsgn .row{
    padding-top: 40px;
	color: white;
}
.dsgn .line{
	height: 2.3px;
	width: 70px;
	margin: 1.5% auto;
	background-color:  white;
}
.dsgn h1{
    font-family: 'Raleway', sans-serif;
	text-transform: uppercase;

}
.dsgn p{
	color: #c2c3bd;
}
.dsgn .btn{
	padding: 10px 40px;
    border: 1.4px solid white;
    background: transparent;
	color: white;
    margin: 30px auto;
    font-weight: 400;
	transition: 0.5s;
}
.dsgn .btn:hover{
	background: white;
    color: #FF8B38;
    font-weight: 500;
	transition: 0.5s;
}
.dsgn .btn:focus{
	outline: none;
	box-shadow: none;
}
.end{
	width: 100%;
	background: white;
	padding: 5%;
}
.end .top{
    padding-bottom: 10px;
	color: black;
}
.end .line{
	height: 2.3px;
	width: 70px;
	margin: 1.25% auto;
	background-color:  #FF8B38;
}
.end h1{
	font-family: 'Raleway', sans-serif;
    color: #212121;
	text-transform: uppercase;
}
.end .col-md-6{
	padding-left: 4%;
}
.end .card-body{
	line-height: 5;
}
.end .card-body input{
	padding: 0px 7px;
	border-style: none;
	border-bottom: 1.5px solid #d6d6d6;
	line-height: 2.7;
    width: 98%;
}
.end input::placeholder{
	color: #b9babf;
}
.end input:focus{
	outline:none;
}
textarea {
    border: none;
    border-bottom: 1.5px solid #d6d6d6;
    border-radius: 0;
    width: 100%;
    padding-top: 10%;
    height: 242px;
}
textarea:focus{
	outline: none!important;
	border: none;
	border-bottom: 1.5px solid #d6d6d6;
}
.end .btn{
	padding: 10px 40px;
    border: 1px solid white;
    background: #FF8B38;
	color: white;
    margin: 2% auto;
    font-weight: 400;
	transition: 0.5s;
}
.end .btn:hover{
	background-color: #333333;
    color: white;
    font-weight: 35 0;
	transition: 0.5s;
}
.end .btn:focus{
	outline: none;
	box-shadow: none;
}
.footer{
	width: 100%;
	height: auto;
	background-color: black;
}

.footer .social-icon{
	text-align: center;
	padding: 3% 0%;
}
.footer p{
	font-family: 'Open Sans', sans-serif;
    color: #777575 !important;
    font-size: 14px;
    margin-bottom: 0rem;
}



/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  button:focus {
    outline: none!important;
  }
  .navbar-toggler {
    background-color: white!important;
  }
  .navbar-toggler:hover {
    color: #ff9b51!important;
  }
  .nav-item {
    padding-right: 25px;
  }
  .nav-link:hover {
    color: #ff9b51!important;
  } 
  .Header .row{
    padding: 50px 10px;
  }
  .Header .txt {
    height: auto;
  }
  .Header .txt h1 {
    font-size: 25px;
    margin-bottom: 0px;
  }
  .Header .line{
    margin: 10px 0px;
  }
  .Header p {
  margin: 20px 0px;
  margin-top: 0px;
  }
  .Header {
    height: auto;
  }
  .Header .h-form {
    height: auto;
    padding: 20px;
  }
  .h-form .card {
   height: auto;
   width: 300px;
   margin: 0px;
  }
  .h-form .card-body input {
    width: 250px;
  }
  .h-form .card-body {
    line-height: 4;
    padding: 0px 20px 20px;
  }
  .P1 .social-icon {
    padding-top: 4%;
}
  .P1 .social-icon ul li {
    margin-right: 15px;
  }
  .P2 {
    height: auto;
    padding: 45px;
  }
  .P2 h3 {
    font-size: 17px;
  }
  .P2 .row .col-md-6 p {
    padding: 0px 0px 10px;
    font-size: 14px;
    margin-bottom: 0px;
  }
  .P2 .btn {
    padding: 10px 25px;
    font-weight: 400;
  }
  .P2 img{
    width: 130%;
  }
  .Feature_1{
    height: auto;
    padding: 50px 0px;
  }
  .Feature_1 .row{
    flex-direction: column;
  }
  .Feature_1 .row .col-md-6{
  max-width: 100%;
  text-align: center!important;
  }
  .Feature_1 .col-md-2{
  max-width: 100%;
  text-align: center!important;   
  }
  .Feature_1 .row .col-md-10{
  max-width: 100%;
  padding-top: 5%;
  text-align: center!important;   
  }
  .Feature_1 .up {
    padding-left: 20px;
  }
  .Feature_1 .line {
    margin: 12px auto;
  }
    .Feature_2{
    height: auto;
    padding: 50px 0px;
  }
  .Feature_2 .left{
    display: flex;
    align-items: center;
  }
  .Feature_2 .line {
    margin: 12px 0px;
  }
  .Feature_2 .line p{
    font-size: 15px;
  }
  #About{
    height: auto;
  }
  .process .row {
  margin-top: 0px;
  }
  .process h1{
    font-size: xx-large;
  }
 .process .line {
    margin: 9px auto;
  }
  .price{
    height: auto;
  }
  .price .row {
    margin:0px;
    padding: 10px 0px 25px;
  }
  .price h3{
  font-size: large;
  }
  .price h1{
  font-size: xx-large;
  }
  .price .card-body h1 {
    font-size: 65px;
  }
  .price .card_d p{
  font-size: 14px;
  }
  .price .line{
  margin: 10px auto;
  }
  .price .card-footer ul li{
    font-size: 13px;
  }
  .customer{
    height: auto;
  }
  .customer h1{
    font-size: xx-large;
  }
  .customer .up {
    padding: 20px 0px;
  }
.customer .line {
    margin: 9px auto;
  }

  .customer .pr{
  padding-top:5%;
  padding-left:7%;
  }
  .dsgn h1{
    font-size: xx-large;
  }
  .dsgn .line {
    margin: 9px auto;
  }
  .end{
    height: auto;
  }
  textarea {
    height: 202px;
  }
  .end .top {
    padding-top: 10px;
  }
  .end h1{
    font-size: xx-large;
  }
  .end .line {
    margin: 9px auto;
  }
  .end .card-body {
    line-height: 4;
  }
  .end .r input {
    padding-bottom: 122px;
  }
  .footer{
    height: auto;
  }
}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 280px) and (max-width: 480px) {
  button:focus {
    outline: none!important;
  }
  .navbar-toggler {
    background: white!important;
  }
  .navbar-toggler:hover {
    color: #ff9b51!important;
  }
  .navbar-nav{
    margin-left: 50px;
  }
  .nav-item {
    padding-right: 25px;
  }
  .nav-link:hover {
    color: #ff9b51!important;
  }
  .Header{
    height: auto;
  }
 .Header .h-form{
    height: auto;
    padding-bottom: 9%;
    padding-left: 7%;
  }
  .Header .txt {
    height: auto;
    padding: 20px;
  }
  .Header .txt h1{
    font-size: 30px;
  }
  .h-form .card {
    border: none;
    width: 95%;
    height: 95%;
    margin: 0px;
  }
  .social-icon{
    text-align: center;
  }
  .social-icon ul li{
    margin-bottom: 5%;
  }
  .P2 {
    height: auto;
    padding: 15px;
  }
  .P2 .row{
    flex-direction: column-reverse;
  }
  .P2 h1{
    font-size: 2rem;
  }
  .P2 .col-md-2{
    order: -2;
  }
  .P2 .col-md-2 ul{
    display: flex;
  }
   .P2 .col-md-2 ul li{
    margin: 1%;
    width: 40%;
    height: 45%;
   }
   .P2 .col-md-6{
    padding: 4% 3%;
    order: -3;
   }
   .P2 .row .col-md-4 {
    display: flex;
    padding: 5%;
    order: -1;
    justify-content: center;
  }
  .P2 .row .col-md-4 img{
    width: 90%;
  }
  .Feature_1 {
    height: auto;
    padding: 15px;
  }
  .Feature_1 h1{
    font-size: 2rem;
  }
  .Feature_1 .col-md-10{
    padding-top: 5%;
    text-align: center;
  }
  .Feature_2 {
    height: auto;
    padding: 15px;
  }
  .Feature_2 h1{
    font-size: 2rem;
  }
  .Feature_2 .row{
    flex-direction: column-reverse;
  }
  #About {
    height: auto;
    padding: 15px;
  }
  #About h1{
    font-size: 2rem;
  }
  .price {
    height: auto;
    padding: 15px;
  }
  .price h1{
    font-size: 2rem;
  }
  .price .pricing-card-middle{
    padding-bottom: 12%;
  }
  .price .dn{
  padding-bottom: 10%;
}
  #Reviews{
    height: auto;
    padding: 15px;
  }
  .dsgn h1{
    font-size: xx-large;
  }
  #Reviews h1{
    font-size: 1.8rem;
  }
  #Reviews .service-1{
    margin-left: 6%;
  }
  .end {
    height: auto;
    padding: 8%;
  }
  .end h1{
    font-size: 2rem;
  }
  .end .card-body{
    padding: 0px;
  }
  textarea {
    height: 150px;
  }
  .end .btn{
    margin-top: 9%;
  }
  .Footer {
    height: auto;
    padding: 15px;
  }
  .footer .social-icon{
  text-align: center;
  padding: 10% 0%;
  }
}
